# Python Program to check Palindrome-(using slicing)

In [ ]:
x= input("Enter the number or string-")
#Using slicing reverse
reverse_x= x[::-1]
if x == reverse_x:
    print('yes your number or string is Palindrome')
else:
    print('no your number or string is not Palindrome')

Enter the number or string-level
yes your number or string is Palindrome

# Shutdown,logoff,restart of your computer 2 line of code-

In [ ]:
#first you open your command shell and type shutdown then see your argument like(/s,/l/r)
import os; #import your os library files
os.system('shutdown /s /t 0')  # /s is shutdown, /l is logoff , /r is restart argument (/t 0 is time how much you want)

# Calendar Program-1

In [ ]:
import calendar
Y=int(input("Enter your year-"))
M=int(input("Enter your month-"))
mycal=calendar.month(Y,M)
print(mycal)

Enter your year-2021
Enter your month-8
    August 2021
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

# Calendar Program-2

In [ ]:
#if you want see output in sunday then try this method
import calendar
Y=int(input("Enter your year-"))
M=int(input("Enter your month-"))
calendar.setfirstweekday(calendar.SUNDAY)
mycal=calendar.month(Y,M)
print(mycal)

Enter your year-2021
Enter your month-8
    August 2021
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

# Calendar Program-3

In [ ]:
#if you want see output in only year 
import calendar
Y=int(input("Enter your year-"))
#M=int(input("Enter your month-"))
calendar.setfirstweekday(calendar.SUNDAY)
mycal=calendar.calendar(Y)
print(mycal)

Enter your year-2022
                                  2022

      January                   February                   March
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa      Su Mo Tu We Th Fr Sa
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

#Check Year is Leap or not Using Calendar-

In [ ]:
import calendar
Y=int(input("Enter your year to check leap year"))
result=calendar.isleap(Y)
if result:
    print(f'{Y} is a leap year')
else:
    print(f'{Y} is not a leap year')

Enter your year to check leap year2004
2004 is a leap year

# Reverse Number or Name Using string Slicing method-One line code

In [ ]:
print(input("Enter the number or string-")[::-1])

Enter the number or string-123
321